{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "plugins": [
    "prettier-plugin-prisma",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "useTabs": false
}
